node_modules
dist
.env
.env.*
!.env.example
.vscode
.git
.gitignore
README.md
Dockerfile
.dockerignore
build_debug.txt
build_err.txt
build_log.txt
lint_report.txt
src_lint.txt
tw_err.txt
err.txt
dump_err.py
