absl-py
anyio
astunparse
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy<=1.2.1
cryptography
cycler
deepface
distro
fastapi
filelock
flatbuffers
flask
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h5py
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jiter
joblib
kaggle<=1.16.17
keras
kiwisolver
libclang
markdown
markupsafe
matplotlib
ml-dtypes
namex
numpy<2.0.0
oauthlib
openai
opencv-python
opt-einsum
packaging
pandas
pillow
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pygments
pyparsing
python-dateutil
python-dotenv
python-slugify
pyyaml
requests
requests-oauthlib
retina-face
rich
scikit-learn
scipy
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow==2.15.0
termcolor
tf_keras
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
webencodings
Werkzeug
wrapt
PySocks
python-dateutil
